.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafbfd;
  gap: 40px;
  padding: 40px 72px 116px 72px;
}
.feature .feature-head {
  background: var(--second-color);
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding-block: 24px;
  min-width: 343px;
}
.feature .feature-head article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature .feature-foot {
  display: flex;
}
.feature-foot-text {
  max-inline-size: 420px;
}
.feature .feature-foot article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.feature .feature-foot article p {
  text-align: center;
  color: #616161;
}

.feature .feature-number {
  font: var(--font-big);
  color: var(--main-color);
}
.feature .feature-text {
  text-transform: uppercase;
  font: var(--font-small);
}
.feature .feature-img picture {
  background: #fff;
  padding: 24px 88px;
}
@media screen and (min-width: 768px) {
  .feature .feature-head {
    flex-direction: row;
    width: 654px;
    justify-content: space-between;
    padding-inline: 72px;
    position: relative;
  }
  .feature .feature-foot article {
    align-items: flex-start;
  }
  .feature .feature-foot article p {
    text-align: left;
  }
}
