.hero {
  margin-block-start: 56px;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}
h1[class="text-main"] {
  font-size: 48px;
  max-inline-size: 350px;
}

.text-description {
  color: var(--text-color);
  /* text-align: center; */
  font-size: 12px;
  max-inline-size: 330px;
}
.ver-video {
  display: none;
}
.ver-video .video_text {
  text-transform: uppercase;
  font-size: 9px;
}
.hero__img img {
  max-inline-size: 100%;
}
@media screen and (min-width: 968px) {
  .hero__text {
    align-items: flex-start;
    text-align: left;
  }
}
