/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

/* Sections */
@import "./main.css";
@import "./header.css";
@import "./reset.css";
@import "./hero.css";
@import "secure.css";
@import "./features.css";
@import "./help.css";
@import "./contact.css";
@import "./footer.css";

/* Components */
@import "./Components/wrapper.css";
@import "./Components/botones.css";
@import "./Components/sections.css";

:root {
  /* --btn_color: #000000; */
  /* Fonts */
  --first-font: "Rubik", sans-serif;
  font-family: var(--first-font);
  --second-font: "Raleway", sans-serif;
  --font-small: bold 12px/16px var(--first-font);
  --normal-font-small: 12px/16px var(--first-font);
  --font-big: bold 40px/48px var(--first-font);

  /* Color Fonts */
  --primary-color: #1d957f;
  --main-color: var(--primary-color);
  --second-color: #fff;
  --text-btn: var(--second-color);
  --btn-video: #4285f4;
  --text-color: #616161;
}
html {
  scroll-behavior: smooth;
}
.highlight-main {
  color: var(--main-color);
}
